
<!DOCTYPE html>
<html lang="en">
 
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

  <% if(currentUser) {%>
    <!-- Navagation -->
  
    <ul class="nav fixed-top"> 
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes">All Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes/new">Create Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myRecipe">My Recipes</a>
      </li>
      <div>
        <form action="/sessions?_method=DELETE", method='POST'>
          <input type="submit" value="Log Out" style="background-color: #08753c; color:white; border-style: none;">
          </form>
      </div>
      <div class="welcome-div">
        <p>Welcome <%= currentUser.username %> </p>
      </div>
      
  </ul>

  

<!-- Images -->

<div class="container image-div img-fluid">
<img  src="https://www.get-your-kids-cooking.com/wp-content/uploads/2020/04/mother-daughter-cooking.jpg" class="img-responsive" alt="kidsCooking" width="380" height="300">
<span class="green-span"></span>
<img src="https://lirp-cdn.multiscreensite.com/a37161fc/dms3rep/multi/opt/MarbleMasters_let-the-kids-cook-640w.jpg" class="img-responsive" alt="KidsMenu" width="380" height="300">
<span class="green-span"></span>
<img  src="https://www.tasteofhome.com/wp-content/uploads/2018/07/girls-laughing-in-the-kitchen-shutterstock_709088398.jpg" class="img-responsive" alt="KidsCooking" width="380" height="300">
</div>


<div class="container article-container"> 
    <div class="article">
        <h2>Cooking with kids at any age</h2><br>

        <p>Cooking with kids  at any age can be fun and easy. If your kids get cooking now, chances are they will keep up this good habit as they grow older. Read on for tips to get your kids cooking and get great recipes to try. Cooking with your:
        
        <ul class="list">
          <li><a class="title-list" href="#Cooking_with_2-3_year_olds"> 2-3 year old</a></li>
          <li><a class="title-list" href="#Cooking_with_3-4_year_olds">3-4 year old</a></li>
          <li><a class="title-list" href="#Cooking_with_4-6_year_olds">4-6 year old<a></li>
          <li><a class="title-list" href="#Cooking_with_6-8_year_olds">6-8 year old</a></li>
        </ul>
        </p>

          <p>
          <a id="Cooking_with_2-3_year_olds"><h5>Cooking with 2-3 year olds</h5></a>
          Very young children like to explore with their senses of sight, touch, smell, hearing and tasting. They also like to do things on their own. Try letting your kids:
            <ul>
              <li>Wash fruits and vegetables in the sink</li>
              <li>Add items to dishes (like chopped tofu to a casserole)</li>
              <li>Smell food, herbs and spices you are using</li>
              <li>Help find ingredients in the fridge or cupboard</li>
              <li>Put paper cups into muffin tins</li>
            </ul>
          Keep in mind, some kids may be happy to watch you cook and talk about what you are doing. An empty pot on the floor with a spoon keeps their hands busy. Be sure to ask lots of questions about what they are making that smells so good!
          </p>
          
          <p>
          <a id="Cooking_with_3-4_year_olds"><h5>Cooking with 3-4 year olds</h5></a>
          At this age, children may be more interested in talking than eating! Either way, cooking keeps them interested in food. Try letting your kids:
          <ul>
          <li>Remove eggshells from hard-boiled eggs</li>
          <li>>Pour from a small pitcher or measuring cup</li>
          <li>Make a simple sandwich or pizza with pre-assembled ingredients</li>
          <li>Describe the colour, taste and shape of food</li>
          <li>Mash sweet potatoes, turnips, carrots or bananas</li>
          </ul>
          </p>
          
          <p>
          <a id="Cooking_with_4-6_year_olds"><h5>Cooking with 4-6 year olds</h5></a>
          At this age, some kids may show signs of being a picky eater. While the food they prepare might not make it to their fork, try to be patient knowing that cooking is helping them warm up to the idea of trying new foods. Try letting your kids:
          <ul>
          <li>Assemble foods: make trail mix or their own yogurt smoothie with toppings you've prepared</li>
          <li>Stir ingredients together (like muffins, pancakes, sauces)</li>
          <li>Slice soft-cooked vegetables, soft fruit, cheese or tofu with a plastic knife</li>
          <li>Crack and beat an egg</li>
          <li>Cook with a friend for a fun play date</li>
          </ul>
          </p>

          <p>
          <a id="Cooking_with_6-8_year_olds"><h5>Cooking with 6-8 year olds</h5></a>
          At this age, kids can follow simple steps for recipes and are able to share and take turns. Try letting your kids:
          <ul>
          <li>Use simple kitchen equipment such as a grater, toaster, blender or can opener after you show them how to do so safely</li>
          <li>Make simple cold spring rolls or tortilla wraps</li>
          <li>Toss salad ingredients together with salad dressing</li>
          <li>Invent a fruit salad or smoothie recipe</li>
          <li>Write a list of healthy snacks they like to eat</li>
          <li>Write out a grocery list</li>
          <li>Make a simple breakfast: whole grain cereal with milk or canned fruit over yogurt</li>
          </ul>
          </p>
      </div>
 </div>

 <!-- SignUp  -->

<div class="about position-relative py-5">
  <div class="">
    <div class="row d-flex align-items-center py-5">
      <div class="col-md-6 my-auto">
        <h1 class="display-1 font-weight-normal custom-font-title text-white" style="margin-left: 15px; margin-top: 30px">The<br />Love<br />of Food</h1>
      </div>

      <div style="margin-top: 120px; margin-right: 20px">
        <h1 class="font-weight-normal custom-font-title text-white">Save your favourite recipes</h1>
        <p class="lead font-weight-normal text-white">Sign up today to view and comment of recipe</p>
          <a class="btn card-btn" href="/users/new">Create a free account</a>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<div class="footer">

  <!-- Grid row-->
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-md-12 py-4">
      <div class="mb-2 flex-center">
  
        <!-- Facebook -->
        <a class="fb-ic">
          <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
          <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!-- Google +-->
        <a class="gplus-ic">
          <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
          <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
          <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!--Pinterest-->
        <a class="pin-ic">
          <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row-->
  
  
  <!-- Copyright -->
  <div>© 2020 Copyright: KidsRecipes.com</div>
  <!-- Copyright -->
  
  </div>
  

 <% } else { %>
    <!-- Navagation -->
    <ul class="nav fixed-top">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/new">Sign Up</a>   
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/sessions/new">Log in</a>   
        </li>

      </ul>

<!-- Images -->

<div class="image-div" class="img-fluid">
  <img src="https://www.get-your-kids-cooking.com/wp-content/uploads/2020/04/mother-daughter-cooking.jpg"  alt="kidsCooking" width="373" height="300">
  <span class="green-span"></span>
  <img src="https://lirp-cdn.multiscreensite.com/a37161fc/dms3rep/multi/opt/MarbleMasters_let-the-kids-cook-640w.jpg" alt="KidsMenu" width="373" height="300">
  <span class="green-span"></span>
  <img src="https://www.tasteofhome.com/wp-content/uploads/2018/07/girls-laughing-in-the-kitchen-shutterstock_709088398.jpg" alt="KidsCooking" width="373" height="300">
</div>


  <div class="container article-container max-height: 100%; > 
      <div class="article">
          <h2>Cooking with kids at any age</h2><br>

          <p>Cooking with kids  at any age can be fun and easy. If your kids get cooking now, chances are they will keep up this good habit as they grow older. Read on for tips to get your kids cooking and get great recipes to try. Cooking with your:
          
          <ul class="list">
            <li><a class="title-list" href="#Cooking_with_2-3_year_olds"> 2-3 year old</a></li>
            <li><a class="title-list" href="#Cooking_with_3-4_year_olds">3-4 year old</a></li>
            <li><a class="title-list" href="#Cooking_with_4-6_year_olds">4-6 year old<a></li>
            <li><a class="title-list" href="#Cooking_with_6-8_year_olds">6-8 year old</a></li>
          </ul>
          </p>

            <p>
            <a id="Cooking_with_2-3_year_olds"><h5>Cooking with 2-3 year olds</h5></a>
            Very young children like to explore with their senses of sight, touch, smell, hearing and tasting. They also like to do things on their own. Try letting your kids:
              <ul>
                <li>Wash fruits and vegetables in the sink</li>
                <li>Add items to dishes (like chopped tofu to a casserole)</li>
                <li>Smell food, herbs and spices you are using</li>
                <li>Help find ingredients in the fridge or cupboard</li>
                <li>Put paper cups into muffin tins</li>
              </ul>
            Keep in mind, some kids may be happy to watch you cook and talk about what you are doing. An empty pot on the floor with a spoon keeps their hands busy. Be sure to ask lots of questions about what they are making that smells so good!
            </p>
            
            <p>
            <a id="Cooking_with_3-4_year_olds"><h5>Cooking with 3-4 year olds</h5></a>
            At this age, children may be more interested in talking than eating! Either way, cooking keeps them interested in food. Try letting your kids:
            <ul>
            <li>Remove eggshells from hard-boiled eggs</li>
            <li>>Pour from a small pitcher or measuring cup</li>
            <li>Make a simple sandwich or pizza with pre-assembled ingredients</li>
            <li>Describe the colour, taste and shape of food</li>
            <li>Mash sweet potatoes, turnips, carrots or bananas</li>
            </ul>
            </p>
            
            <p>
            <a id="Cooking_with_4-6_year_olds"><h5>Cooking with 4-6 year olds</h5></a>
            At this age, some kids may show signs of being a picky eater. While the food they prepare might not make it to their fork, try to be patient knowing that cooking is helping them warm up to the idea of trying new foods. Try letting your kids:
            <ul>
            <li>Assemble foods: make trail mix or their own yogurt smoothie with toppings you've prepared</li>
            <li>Stir ingredients together (like muffins, pancakes, sauces)</li>
            <li>Slice soft-cooked vegetables, soft fruit, cheese or tofu with a plastic knife</li>
            <li>Crack and beat an egg</li>
            <li>Cook with a friend for a fun play date</li>
            </ul>
            </p>

            <p>
            <a id="Cooking_with_6-8_year_olds"><h5>Cooking with 6-8 year olds</h5></a>
            At this age, kids can follow simple steps for recipes and are able to share and take turns. Try letting your kids:
            <ul>
            <li>Use simple kitchen equipment such as a grater, toaster, blender or can opener after you show them how to do so safely</li>
            <li>Make simple cold spring rolls or tortilla wraps</li>
            <li>Toss salad ingredients together with salad dressing</li>
            <li>Invent a fruit salad or smoothie recipe</li>
            <li>Write a list of healthy snacks they like to eat</li>
            <li>Write out a grocery list</li>
            <li>Make a simple breakfast: whole grain cereal with milk or canned fruit over yogurt</li>
            </ul>
            </p>
        </div>
   </div>

<!-- SignUp  -->

<div class="about position-relative py-5">
  <div class="">
    <div class="row d-flex align-items-center py-5">
      <div class="col-md-6 my-auto">
        <h1 class="display-1 font-weight-normal custom-font-title text-white" style="margin-left: 15px; margin-top: 30px">The<br />Love<br />of Food</h1>
      </div>

      <div style="margin-top: 120px; margin-right: 20px">
        <h1 class="font-weight-normal custom-font-title text-white">Save your favourite recipes</h1>
        <p class="lead font-weight-normal text-white">Sign up today to view and comment of recipe</p>
         <a class="btn card-btn" href="/users/new">Create a free account</a>
      </div>
    </div>
  </div>
</div>



<!-- Footer -->
<div class="footer">

<!-- Grid row-->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-12 py-4">
    <div class="mb-2 flex-center">

      <!-- Facebook -->
      <a class="fb-ic">
        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!-- Twitter -->
      <a class="tw-ic">
        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!-- Google +-->
      <a class="gplus-ic">
        <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Linkedin -->
      <a class="li-ic">
        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Instagram-->
      <a class="ins-ic">
        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Pinterest-->
      <a class="pin-ic">
        <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
      </a>
    </div>
  </div>
  <!-- Grid column -->

</div>
<!-- Grid row-->


<!-- Copyright -->
<div>© 2020 Copyright: KidsRecipes.com</div>
<!-- Copyright -->

</div>


<% } %>

</body>
</html>