<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
<!-- Navagation -->
    <ul class="nav fixed-top">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipes">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipes/new">Create Recipe</a>
        </li>
        <div>
          <form action="/sessions?_method=DELETE", method='POST'>
            <input type="submit" value="Log Out" style="background-color: #08753c; color:white; border-style: none;">
            </form>
        </div>
      </ul>

<!-- Jumbotron -->
      <div class="jumbotron">
        <h1 class="display-5">KIDS' COOKING RECIPES</h1>
        <p class="lead">Get fussy little eaters into the kitchen and turn them <br> into little chefs with our easy and fun cooking projects. <br> They'll love tasting their handiwork, too!</p>
        <a class="btn card-btn-1 btn-lg" href="#" role="button">Learn more</a>
      </div>


<div class="container item-container"> 
      <div class="item-div">
	        <% items.forEach((item) => { %>

             <div class="card shadow" style="width: 15rem; height: 20em;">  
                <img src="<%= item.img%>" class="card-img-top" alt="recipe">
                <div class="card-body">
                 <p class="card-title"><%= item.title%></p>
                <a href="/recipes/<%= item.title%>" class=" btn card-btn">Read more</a>
                </div>
              </div>
            <%})%>
            
     </div>  
</div>

<div class="ad-container">
  <img src="https://cdn.shopify.com/s/files/1/0180/2125/3184/files/MV_webbanner_1920x800_kids_v2-shop_now_2048x.jpg?v=1549319557" style="width: 1140px; margin: 0px">
</div>



<!-- Footer -->
<div class="footer">

<!-- Grid row-->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-12 py-4">
    <div class="mb-2 flex-center">

      <!-- Facebook -->
      <a class="fb-ic">
        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!-- Twitter -->
      <a class="tw-ic">
        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!-- Google +-->
      <a class="gplus-ic">
        <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Linkedin -->
      <a class="li-ic">
        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Instagram-->
      <a class="ins-ic">
        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a>
      <!--Pinterest-->
      <a class="pin-ic">
        <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
      </a>
    </div>
  </div>
  <!-- Grid column -->

</div>
<!-- Grid row-->


<!-- Copyright -->
<div>© 2020 Copyright: KidsRecipes.com</div>
<!-- Copyright -->

</div>


</div>

</body>
</html>