<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
<!-- Navagation -->
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipes">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipes/new">Create Recipe</a>
        </li>
      </ul>




  <div class="container"> 
      <div class="item-div">
	        <% items.forEach((item) => { %>

             <div class="card shadow" style="width: 20rem; height: 28em;">
                <br>
                <h5 class="card-title"><%= item.title%></h5>
                <div class="card-body">
                <img src="<%= item.img%>" class="card-img-top" alt="recipe">
                <br>
                <br>
                <a href="/recipes/<%= item.title%>" class=" btn card-btn">Read more</a>
                </div>
              </div>
            <%})%>
            
     </div>






        
    </div>


<!-- Footer -->
<div class="footer">


</div>

</body>
</html>